.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .header {
    background-color: rgb(165, 212, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    font-size: 22px;
    color: rgb(14, 33, 68);
    font-weight: 600;
    letter-spacing: 0.2em;
  }
  .footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 212, 179);
    padding: 10px 0;
    color: rgb(14, 33, 68);
    font-weight: 600;
    letter-spacing: 0.2em;
  }
  .container {
    width: 1440px;
    margin: 0 auto;
  }
  .content {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
  }
}
